@font-face {
  font-family: "yek";
  src: local("Tekan"),
  url("./font/Yekan.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,yek;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image:url('https://static.vecteezy.com/system/resources/previews/008/143/754/non_2x/seamless-pattern-with-gaming-icons-free-vector.jpg');*/
  /*filter: grayscale(100%);*/
  /*opacity: 0.6;*/


  /*background-size:100% 100%;*/
}
.demo-wrap {
  position: relative;
}

.demo-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image:url('https://static.vecteezy.com/system/resources/previews/008/143/754/non_2x/seamless-pattern-with-gaming-icons-free-vector.jpg');
  background-repeat: no-repeat no-repeat;
  background-position: 50% 0;
  background-size: cover;
  filter: grayscale(100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
